:root {
  --content-color: white;
  --background-color: #1A1A1A;
}

.axis {
  color: var(--content-color);
  text-anchor: middle;
  font-size: 12px;
  font-weight: semibold;
}

.letter {
  color: var(--content-color);
}

.text {
  fill: var(--content-color);
}

/* text {
  color: var(--content-color);
  fill: var(--content-color);
  font-family: "Open Sans";
  font-weight: semibold;
} */

.label {
  fill: var(--content-color);
}

.link {
  stroke: #ccc;
}

.node {
  stroke: #999;
  stroke-width: 1;
}

.node:hover {
  stroke-width: 2;
}

body {
  font-family: "Open Sans";
  margin: 0;
  color: var(--content-color);
  background-color: var(--background-color);
}

#main {
  color: var(--content-color);
}
#select {
  max-height: 250px;
  overflow-y: auto;
}
